.setting {
  position: sticky;
  top: 60px;
  z-index: 4;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  background-color: #e1f5fe;
  height: 100px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}
