.td {
    border: 1px solid #455A64;;
    padding: 5px;
    width: 10px;
    overflow: hidden;


}

.narrow {
    flex-grow: 1;
    position: sticky;
    left: 0;
    z-index: 2;
}

.wide {
    flex-grow: 4;
}

.average {
    flex-grow: 2;
}

.tr_active:hover {
    cursor: pointer;

}

.tr {
    background-color: white;
}

.tr,
.tr_active {
    display: flex;
    position: relative;
}

.tr:hover {
    cursor: pointer;
    background-color: #1890ff21
}

.tr_active {
    background-color: #0288d1
}

.del__row {
    display: none;
}

.del__row_active {
    border: 1px #00000000 solid;
    padding: 0px;
    width: 40px;
    background-color: white;
    position: absolute;
    right: -40px;
}
