
.tr {
    background-color: white;
}

.tr,
.tr_active {
    display: flex;
    position: relative;
}

.tr_active, .tr_active .narrow {
    background-color: #0288d1
}

.tr_active:hover {
    cursor: pointer;

}

.tr:hover, .tr:hover .narrow {
    cursor: pointer;
    background-color: #e1f5fe

}

.td {
    border: 1px solid #455A64;
    padding: 5px 0;
    width: 10px;
    overflow: hidden;

}

.narrow {
    flex-grow: 1;
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: white;
}

.wide {
    flex-grow: 4;
}

.average {
    flex-grow: 2;
}


.del__row {
    display: none;
}

.del__row_active {
    border: 1px #00000000 solid;
    padding: 0px;
    width: 40px;
    background-color: white;
    position: absolute;
    right: -40px;
}
