.th {
    border: 1px solid black;
    position: relative;
    width: 100px;
    overflow: hidden;
}

.th_container {
    display: flex;
    justify-content: space-between;
}


.sort__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.search {
    margin: auto 0;
}

.img__ascent, .img__decent, .img__search {
    fontSize: 40px
}

.img__ascent_active, .img__decent_active, .img__search_active {
    color: #1890ff
}

.img__ascent:hover, .img__decent:hover, .img__search:hover {
    color: grey;
    cursor: pointer;
}




