.th {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    padding: 5px;
    width: 10px;
}

.narrow {
    flex-grow: 1;
}

.wide {
    flex-grow: 4;
}

.average {
    flex-grow: 2;
}

.th_container {
    display: flex;
    justify-content: space-around;
}


.sort__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.search {
    margin: auto 0;
}

.img__search {
    font-size: large;
}

.img__ascent, .img__decent {
    font-size: medium;
}

.img__ascent_active, .img__decent_active, .img__search_active {
    color: #1890ff;
    font-size: large;
}

.img__ascent:hover, .img__decent:hover, .img__search:hover {
    color: grey;
    cursor: pointer;
}

.input {
    margin-right: 10px;
}




