.th {
    border: 1px solid black;
    position: relative;
    width: 10px;
    position: sticky;
    left: 0;
    z-index: 8;
    background-color: #b3e5fc;
}

.p {
    font-size: 15px;
    font-weight: 650;
    margin: 3px 2px 5px;
}

.narrow {
    flex-grow: 1;
    z-index: 10;

}

.wide {
    flex-grow: 4;
}

.average {
    flex-grow: 2;
}

.th_container {
    display: flex;
    justify-content: space-around;
}


.sort__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.search {
    margin: auto 0;
}

.img__search {
    font-size: medium;
}

.img__ascent, .img__decent {
    font-size: small;
}

.img__ascent_active, .img__decent_active, .img__search_active {
    color: #1890ff;
    font-size: medium;
}

.img__ascent:hover, .img__decent:hover, .img__search:hover {
    color: grey;
    cursor: pointer;
}

.input {
    margin-right: 10px;
}




